.input-field input[type="date"] {
  font-size: var(--fs-body-sm);
  width: 100%;
  padding: 0.5em;
  border: none;
  outline: 1.5px solid hsl(var(--clr-neutral-700), 0.25);
  border-radius: 0.25rem;
}

.input-field textarea {
  font-size: var(--fs-body-sm);
  width: 100%;
  height: 4.5rem;
  padding: 0.5em;
  resize: vertical;
  border: none;
  border-radius: 0.25rem;
  outline: 1.5px solid hsl(var(--clr-neutral-700), 0.25);
}

.input-field textarea:focus {
  outline: 2px solid hsl(var(--clr-primary-400));
}

.input-field select {
  font-size: var(--fs-body-sm);
  width: 100%;
  display: block;
  padding: 0.5em;
  border: none;
  outline: 1.5px solid hsl(var(--clr-neutral-700), 0.25);
  border-radius: 0.25rem;
}

.project-timeline .input-field {
  flex: 1;
}
