.contacts {
  display: grid;
  gap: 1rem;
  margin-top: 1em;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn--invite {
  cursor: pointer;
  border: 1.5px solid hsl(var(--clr-neutral-900), 0.1);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  padding: 0.375em 0.5em;
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-semi-bold);
  background-color: hsl(var(--clr-neutral-500), 0.25);
  color: hsl(var(--clr-neutral-700));
}

.contact__menu {
  cursor: pointer;
  display: flex;
  border: none;
  background: transparent;
  padding: 0.25em;
  border-radius: 0.25rem;
}

.contact__menu:is(:hover, :focus) {
  background: hsl(var(--clr-neutral-700), 0.1);
}

@media (width>=560px) {
  .contacts {
    margin-left: 2.5em;
  }
}
