.documents {
  padding: 2em 0;
}

.all-documents {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding: 1.5em 0;
}

@media (width>=560px) {
  .all-documents {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width>=800px) {
  .all-documents {
    grid-template-columns: repeat(4, 1fr);
  }
}
